{% load embed_video_tags %}
{% load static %}
{% include "school/nav.html" %}

<!DOCTYPE html>
<html>

	<body>
        <style>
            .discord-widget-holder {
                margin: auto;
                width: 30%;

            }
        </style>
        <div class="discord-widget-holder">
        <iframe  src="https://discordapp.com/widget?id=921893353526804510&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>	</body>
            </div>
        </html> 