{% block footer %}
<script
  src="https://kit.fontawesome.com/7973320f11.js"
  crossorigin="anonymous"
></script>

<footer class="footer">
  <div id="footer-menu">
    <ul>
      <li><a href="{% url 'academy' %}">Academy</a></li>
      <li><a href="{% url 'results' %}">Results</a></li>
      {% comment %} <li><a href="{% url 'history' %}">History</a></li> {% endcomment %}
      <li><a href="{% url 'rules' %}">Rules</a></li>
      <li><a href="{% url 'about' %}">Contact us</a></li>
    </ul>
  </div>
  <div>
    <p style="margin-bottom: 0">© All rights reserved</p>
  </div>
  <div class="footer-socials">
    <a href="https://www.instagram.com/ogkroeinsta/" style="padding: 10px"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a
      href="https://www.youtube.com/channel/UCDfVcj-uoPRcucyz9k9QXFA/featured"
      style="padding: 10px"
      ><i class="fa-brands fa-youtube"></i
    ></a>
    <a href="https://discord.gg/Mmf5wYMDX4" style="padding: 10px"
      ><i class="fa-brands fa-discord"></i
    ></a>
  </div>
</footer>

{% endblock%}
