{% extends 'school/base.html' %}

{% block content %}


    <div class="container mt-5">
        <div class="row">
          <div class="col mt-5">
            <p class="w h4">Welcome to <p class="o h4">O</p><p class="g h4">G</p><p class="k h4">K</p><p class="r h4">R</p><p class="o2 h4">O</p><p class="e h4">E</p>
            <p class="h5">
            Hard and fair racing, you'll find it at OGKROE.
            </p>
            <p class="h5">
            OGKROE is the Simracing league for beginners all the way up to simracing veterans.
            With our experienced staff we are always working on improving the league and create an even better racing platform.
            If you want to be part of that, you're more than welcome to join us on the grid.
            </p>
          </div>
        </div>
        <img class="img-fluid image" src="./static/school/ogkroe_logo.png" >

        </div>
    </div>

{% endblock %}