{% load embed_video_tags %}
{% load static %}
{% include "school/nav.html" %}

<!DOCTYPE html>
<html>

	<body>
        <style>
            .video-box {
                width: 450px;
                padding: 10px;
                border: 5px solid gray;
                margin: 10;
              }
              .video-box-delete{
                background-color: red;
                border-radius: 10px;
                color: white;
                padding: 10px 10px;
                text-decoration: none;
                width:50px;
                height:20px;
              }
        </style>
        {% block navigation %}
        {% endblock %}
            {% for i in video %}
                <div class="video-box">
                    <div class="video-box-title">
                    <h3>{{i.title}}</h3>
                    </div>
                    <div class="video-box-content">   
                        {% video i.url '426x240' %} <br>    
                    </div>
                    <div class="video-box-description">
                        <p>{{i.description}}</p>
                    </div>
                    <div class="video-box-delete">
                        <a href="{% url 'delete' i.id %}">Delete</a>
                    </div>
            </div>
            {% endfor%}

	</body>
</html> 