{% include "school/nav.html" %}
<!DOCTYPE html>
<html>
	<body>
        <style>
        .rulebook-iframe {
            width: 80%;
             height: 80%;
             background-color: grey;
        }

        </style>

        <div class="rulebook-iframe">
            <iframe width='100%' height='1500' src="https://docs.google.com/document/d/e/2PACX-1vQ79wSKJvkILaz0QqCqVcyZmSlHZcc-RyC-1rk9ubu6Q7mqAs4UvhE1PUE3j_BGL-Sq66igHplZz__P/pub?embedded=true"></iframe>
                </div> 

</body>
</html> 